/db
/var/spack/stage
/var/spack/cache
/var/spack/environments
/var/spack/repos/*/index.yaml
/var/spack/repos/*/lock
__pycache__/
*.pyc
/opt
*~
.DS_Store
.idea
# Ignore everything in /etc/spack except /etc/spack/defaults
/etc/spack/*
!/etc/spack/defaults
/etc/spackconfig
/share/spack/dotkit
/share/spack/modules
/share/spack/lmod
/TAGS
*.swp
/htmlcov
.coverage
\#*
.#*
.cache
lib/spack/spack/test/.cache
/bin/spackc
*.in.log
*.out.log
*.orig

# Eclipse files
.project
.cproject
.pydevproject

# VSCode files
.vscode
.devcontainer
.vs
.VSInheritEnvironments.txt
/var/spack/repos/builtin/packages/pythia6/out/build/x64-Debug (default)/.cmake/api/v1/query/client-MicrosoftVS/query.json
/var/spack/repos/builtin/packages/pythia6/out/build/x64-Debug (default)/CMakeFiles/3.18.20081302-MSVC_2
/var/spack/repos/builtin/packages/pythia6/out/build/x64-Debug (default)/CMakeFiles
/var/spack/repos/builtin/packages/tinyxml/out/build/x64-Debug (default)/CMakeFiles
/var/spack/repos/builtin/packages/pythia6/out/build/x64-Debug (default)
/var/spack/repos/builtin/packages/tinyxml/out/build/x64-Debug (default)
